@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;00;800;900&display=swap');

.box
{
    position: relative;
    /* width: 1300px;
    height: 750px;
    bottom: 50px;
    right: 100px; */
    left: 28.5%;
    top: 15vh;
    width: 60%;
    height: 70vh;
    background: #1c1c1c;
    border-radius: 50px 50px;
    overflow: hidden;
}

main.table
{
    width: 1300px;
    height: 85vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #1c1c1c;
    padding: 1.5rem 2rem;
    color: white;
}

.table_body{
    width: 95%;
    height: calc(89% - 5rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar
{
    width: 0.05rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb
{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb
{
    visibility: visible;
}

table
{
    width: 100%;
}

table,th,td
{
    border-collapse: collapse;
    padding: 1rem;
}

thead th
{
    position: sticky;
    top:0;
    left: 0;
    background-color: #d5d1defe;
}

input[type="submit"].carga
{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 20px;
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 5px;
    border-radius: 90px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"].crear
{
    position: absolute;
    top: 3%;
    right:18%;
    font-size: 20px;
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 5px;
    border-radius: 90px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active
{
    background: linear-gradient(90deg,#45f3ff,#d9138a);
    opacity: 0.8;
}

h1.hola
{
    position: absolute;
    top: 3%;
    left: 3%;
    color: #45f3ff;
    font-size: 100px;
    font-weight: 500;
}

h1.nomm
{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #45f3ff;
    font-size: 100px;
    font-weight: 500;
}