<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Redes - Tu Empresa</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>Construccion de drenaje menor:</label>
        <input type="date" name="fi1">
        <input type="date" name="ff1">
        <br>
        <label>Construccion de drenaje mayor:</label>
        <input type="date" name="fi2">
        <input type="date" name="ff2">
        <br>
        <label>Construccion de sub-base:</label>
        <input type="date" name="fi3">
        <input type="date" name="ff3">
        <br>
        <label>Construccion de base:</label>
        <input type="date" name="fi4">
        <input type="date" name="ff4">
        <br>
        <label>Construccion de la superficie de pavimento o rodadura</label>
        <input type="date" name="fi5">
        <input type="date" name="ff5">
        <br>
        <label>Construccion de estructuras de puentes:</label>
        <input type="date" name="fi6">
        <input type="date" name="ff6">
        <br>
        <label>Construccion de las señales y marcas de trafico:</label>
        <input type="date" name="fi7">
        <input type="date" name="ff7">
        <br>
        <input type="submit" value="Generar repo 2"><br>
        </form>
        
</body>
</html>