<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Redes - Tu Empresa</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Generar repo 2">
    </form>
        <!-- <i>Construccion de drenaje menor: <i>
        <input type="number" name="di1" min="1" max="31" placeholder="dia In.">
        <input type="number" name="mi1" min="1" max="12" placeholder="mes In.">
        <input type="number" name="yi1" min="2023" max="3000" placeholder="año In.">
        
        <input type="number" name="df1" min="1" max="31" placeholder="dia Fi.">
        <input type="number" name="mf1" min="1" max="12" placeholder="mes Fi.">
        <input type="number" name="yf1" min="2023" max="3000" placeholder="año Fi.">

        <input type="text" name="asi1" placeholder="Persona Asignada" >
        <br>
            
        
        <i>Construccion de drenaje mayor: <i>
        <input type="number" name="di2" min="1" max="31" placeholder="dia In.">
        <input type="number" name="mi2" min="1" max="12" placeholder="mes In.">
        <input type="number" name="yi2" min="2023" max="3000" placeholder="año In.">
        
        <input type="number" name="df2" min="1" max="31" placeholder="dia Fi.">
        <input type="number" name="mf2" min="1" max="12" placeholder="mes Fi.">
        <input type="number" name="yf2" min="2023" max="3000" placeholder="año Fi.">

        <input type="text" name="asi2" placeholder="Persona Asignada" >
        <br> -->
        
        <!-- <i>Construccion de sub-base: <i>
        <input type="date" name="fi3"  required>
        <input type="date" name="ff3"  required>
        <input type="text" name="asi3" placeholder="Persona Asignada" >
        <br>

        <i>Construccion de base: <i>
        <input type="date" name="fi4"  required>
        <input type="date" name="ff4"  required>
        <input type="text" name="asi4" placeholder="Persona Asignada" >
        <br>

        <i>Construccion de la superficie de pavimento o rodadura: <i>
        <input type="date" name="fi5"  required>
        <input type="date" name="ff5"  required>
        <input type="text" name="asi5" placeholder="Persona Asignada" >
        <br>

        <i>Construccion de estructuras de puentes: <i>
        <input type="date" name="fi6"  required>
        <input type="date" name="ff6"  required>
        <input type="text" name="asi6" placeholder="Persona Asignada" >
        <br>

        <i>Construccion de las señales y marcas de trafico: <i>
        <input type="date" name="fi7"  required>
        <input type="date" name="ff7"  required>
        <input type="text" name="asi7" placeholder="Persona Asignada" > -->

        
</body>
</html>